<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.damian.aldoc">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- Do czytania zdjec(recept) z pamieci telefonu -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Do robienia zdjec(recept) -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="18"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.damian.aldoc.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".visits.VisitsActivity"
                android:label="Wizyty"
                android:parentActivityName=".MainActivity"/>
        <activity
                android:name=".visits.EditVisitActivity"
                android:label="Edytuj Wizytę"
                android:parentActivityName=".MainActivity"/>
        <activity
                android:name=".visits.VisitActivity"
                android:label="Wizyta"
                android:launchMode="singleTop"
                android:parentActivityName=".visits.VisitsActivity"/>
        <activity
                android:name=".calendar.CalendarActivity"
                android:label="Kalendarz"
                android:parentActivityName=".MainActivity"/>
        <activity
                android:name=".Diseases1Activity"
                android:label="Dziennik chorób"/>
        <activity
                android:name=".Diseases2Activity"
                android:label="Dziennik chorób"/>
        <activity
                android:name=".Diseases0Activity"
                android:label="Dziennik chorób"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
                android:name=".userProfile.UserProfileView"
                android:label="Profil"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.damian.aldoc.MainActivity"/>
        </activity>
        <activity
                android:name=".visits.PrescriptionActivity"
                android:label="Recepta"
                android:parentActivityName=".visits.VisitActivity">
        </activity>
        <activity
                android:name=".FullScreenImageActivity"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
                android:name=".userProfile.UserProfileEditActivity"
                android:label="Edytuj profil"
                android:parentActivityName=".userProfile.UserProfileView"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.damian.aldoc.userProfile.UserProfileView"/>
        </activity>
        <activity android:name=".GroupsActivity" android:label="Grupy" android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>